<style>
#chatbot{
   position:absolute;
   bottom:0;
   right:0;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

</style>
<button id="chatbot" type="button" class="btn btn-default btn-circle btn-lg"><img height="35px" width="35px" src="https://cdn-icons-png.flaticon.com/128/5705/5705176.png"></button>