<link rel="stylesheet" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<style>
#chatbot{
   position: fixed;
   bottom:40px;
   right:40px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 70px;
    height: 70px;
    padding: 10px 10px;
    border-radius: 35px;
    text-align: center;
    font-size: 12px;
    line-height: 1.33;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
</style>
<button id="chatbot" onclick="gopage()" type="button" class="btn btn-default btn-circle btn-lg"><img height="50px" width="50px" src="https://cdn-icons-png.flaticon.com/128/5705/5705176.png"></button>
<script>
    function gopage(){
        window.open("https://console.dialogflow.com/api-client/demo/embedded/6486b1fc-abde-473e-8059-fb96d860ded9");
    }
</script>