{% extends "staff.html" %}
{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<body>
	<!--sidebar end-->
		<div class="container-fluid" style="padding: 0; margin-top: 40px">
		<div class="container pt-3 my-3 bg-white border">
			<h1>Wishlist:</h1>	
				<div class="form-row justify-content-center">
					<table class="table">
						<tr>
						<th scope="col">#</th>
                        <th scope="col">Image</td>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Quantity</th>
						</tr>
  		{% for x in range(applications_list|length) %}
			{%if applications_list[x] != 0%}
					<tr>
						<th scope="row">{{x+1}}</th>
						<td>{{ applications_list[x].get_image() }}</td>
						<td>{{ applications_list[x].get_ID() }}</td>
                        <td>{{ applications_list[x].get_Name() }}</td>
                        <td>{{ applications_list[x].get_Quantity() }}</td>
						<td>
		  <a href="/retrieveapply/{{ applications_list[x].get_apply_id() }}"><img height="35px" width="35px" src="https://cdn-icons-png.flaticon.com/512/709/709612.png" alt="view"></a>
						</td>
				</tr>
			{%else%}
			<tr>
				<th scope="row">
					{{x+1}}
				</th>
					<td>
					</td>
						<td>
						</td>
							<td>
							</td>
			</tr>
				{%endif%}
    	{% endfor %}
				</table>
		</div>
	</div>
		</div>
	<!--container for sidebar plus content-->
</body>
{% endblock %}