{% extends "index.html" %}
{% block title %}Account Details Page{% endblock %}
{% block content %}
<body>
<div class="container center">
<div class="container pt-3 my-3 bg-white border">
<table class="table table-borderless">
<tbody>
    <tr>
      <th scope="col" style="border-top: none;">Name:</th>
      <td style="border-top: none;">{{ user.get_name() }} {{ user.get_last_name() }}</td>
    </tr>
    <tr>
      <th scope="row" style="border-top: none;">Email:</th>
      <td style="border-top: none;">{{ user.get_email() }}</td>
    </tr>
	<tr>
      <th scope="row" style="border-top: none;">Birthdate:</th>
      <td style="border-top: none;">{{ user.get_birthdate() }}</td>
    </tr>
    <tr>
      <th scope="row" style="border-top: none;">Date Joined:</th>
      <td style="border-top: none;">{{ user.get_date_joined() }}</td>
    </tr>
	<tr>
      <th scope="row" style="border-top: none;">Address:</th>
      <td style="border-top: none;">{{ user.get_address() }}</td>
    </tr>
	<tr>
      <th scope="row" style="border-top: none;">Postal code:</th>
      <td style="border-top: none;">{{ user.get_postal() }}</td>
    </tr>
    <tr>
      <th scope="row" style="border-top: none;">City:</th>
      <td style="border-top: none;">{{ user.get_city() }}</td>
    </tr>
  </tbody>
</table>
<!-- try add these inside --><form action="{{url_for('update_customer')}}" method="POST">
<button type="submit" class="btn" data-bs-toggle="modal" data-bs-target="#" style="background-color: #EB5E55; margin-bottom: 1em;">
  <a href="/updateUser">Update</a>
</button>
  </form>
<!-- delete button -->
<form action="{{url_for('delete_user', id=user.get_user_id())}}" method="POST">
<button type="button" class="btn" data-toggle="modal" data-target="#myModal_{{user.get_user_id()}}" style="background-color: #D81E5B; margin-bottom: 1em;">
 Delete
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{user.get_user_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" data-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete {{user.get_name()}} {{user.get_last_name()}}?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>      
</form>
</div>
</div>
</body>
{% endblock %}