{% extends "index.html" %}
{% block title %}Account Details Page{% endblock %}
{% block content %}
<body>
<div class="container">
<table class="table table-borderless" style="margin-top: 20px;">
<tbody>
    <tr>
      <th scope="col" style="border-top: none;">Name:</th>
      <td><!--jinjia here--></td>
    </tr>
    <tr>
      <th scope="row" style="border-top: none;">Email:</th>
      <td><!--jinjia here--></td>
    </tr>
    <tr>
      <th scope="row" style="border-top: none;">address:</th>
      <td><!--jinjia here--></td>
    </tr>
    <tr>
      <th scope="row" style="border-top: none;">something else:</th>
      <td><!--jinjia here--></td>
    </tr>
  </tbody>
</table>
	</div>
</body>
{% endblock %}