{% extends "staff.html" %}
{% block title %}Account Details Page{% endblock %}
{% block content %}
<style>
  img {
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height: 330px;
  }
</style>
<body>
<div class="container center pt-3 my-3 bg-white border">
<table class="table table-borderless">
<tbody>
    <tr>
      <th scope="col" style="border-top: none;">Delivery ID:</th>
      <td style="border-top: none;">{{ transaction.get_id() }}</td>
    </tr>
    <tr>
      <th scope="row" style="border-top: none;">Purchase Date:</th>
      <td style="border-top: none;">{{ transaction.get_transaction_date() }}</td>
    </tr>
  </tbody>
</table>
<!-- try add these inside -->
<div style="background-color: #beb7b7;">
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#" style="background-color: #EB5E55; margin-bottom: 1em;">
  <a href="/approve/{{ application.get_apply_id() }}">Order Processed</a>
</button>
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="myModal_{{application.get_apply_id()}}" style="background-color: #D81E5B; margin-bottom: 1em;">
  <a href="/reject/{{ application.get_apply_id() }}">Order Shipped</a>
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="myModal_{{application.get_apply_id()}}" style="background-color: #D81E5B; margin-bottom: 1em;">
  <a href="/reject/{{ application.get_apply_id() }}">Order En Route</a>
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="myModal_{{application.get_apply_id()}}" style="background-color: #D81E5B; margin-bottom: 1em;">
  <a href="/reject/{{ application.get_apply_id() }}">Order Arrived</a>
</button>     
</div>
</body>
{% endblock %}