<!DOCTYPE html>
<html lang="en">
{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/update.css') }}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sign Up{% endblock %}</title>
</head>

<body>
    {% if error %}
        <p class="error" style="background-color: white; color: red; border: solid #3A3335; padding: 5px;"><strong>Error:</strong> {{ error }}
      {% endif %}
     <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="#" method="post">
                <h1>Forgot Passwordt</h1>
                <h3>Change Password</h3>
                {{ render_field(form.password, class="form-control") }}
			    {{ render_field(form.confirm, class="form-control") }}
                  <input type="submit" value="Update" class="btn btn-primary"/>
            </form>
        </div>
    </div>
    
    
</body>
{% endblock %}
</html>
