{% extends "index.html" %}
{% block title %}Compare{% endblock %}
{% block content %}
<body>
<div class="container-fluid" style="padding: 0; margin-top: 40px">
		<div class="container pt-3 my-3 bg-white border"> 
			<table class="table table-striped bg-white">
			<tr>
			<th scope="col" class="py-3 my-3"><img src="{{url_for('static', filename='images/product_image/'+x.get_product_image())}}" alt="{{x.get_name()}}"></th>
			<th scope="col">Vs</th>
			<th scope="col" class="py-3 my-3"><img src="{{url_for('static', filename='images/product_image/'+y.get_product_image())}}" alt="{{y.get_name()}}"></th>
			</tr>
			<tr>
			<th scope="col" class="py-3 my-3">{{x.get_colour()}}</th>
			<th scope="col">Name</th>
			<th scope="col" class="py-3 my-3">{{y.get_colour()}}</th>
			</tr>
			<tr>
			<td class="py-3 my-3">{{x.get_size()}}</td>
			<th scope="row">Colour</th>
			<td class="py-3 my-3">{{y. get_size()}}</td>
			</tr>
			<tr>
			<td class="py-3 my-3">{{x.get_accessory_type()}}</td>
			<th scope="row">Size</th>
			<td class="py-3 my-3">{{y.get_accessory_type()}}</td>
			</tr>

			</table>
	</div>
	</div>
  </body>
{%endblock%}