{% extends "index.html" %}
{% block title %}Compare{% endblock %}
{% block content %}
<body>
<div class="container-fluid" style="padding: 0; margin-top: 40px">
		<div class="container pt-3 my-3 bg-white border"> 
			<table class="table table-striped bg-white">
			<tr>
			<th scope="col" class="py-3 my-3">Pic of Product 1</th>
			<th scope="col">Vs</th>
			<th scope="col" class="py-3 my-3">Pic of Product 2</th>
			</tr>
			<tr>
			<th scope="col" class="py-3 my-3">Product 1</th>
			<th scope="col"></th>
			<th scope="col" class="py-3 my-3">Product 2</th>
			</tr>
			<!--If electronic -->
			<tr>
			<td class="py-3 my-3">Product 1 Gpu</td>
			<th scope="row">Gpu</th>
			<td class="py-3 my-3">Product 2 Gpu</td>
			</tr>
			<tr>
			<td class="py-3 my-3">Product 1 Cpu</td>
			<th scope="row">Cpu</th>
			<td class="py-3 my-3">Product 2 Cpu</td>
			</tr>
			<tr>
			<td class="py-3 my-3">Product 1 Storage</td>
			<th scope="row">Storage</th>
			<td class="py-3 my-3">Product 2 Storage</td>
			</tr>
			<!--else-->
			<tr>
			<td class="py-3 my-3">Product 1 size</td>
			<th scope="row">Size</th>
			<td class="py-3 my-3">Product 2 size</td>
			</tr>
			</table>
	</div>
	</div>
  </body>
{%endblock%}