{% extends "index.html" %}
{% block title %}Homepage Page{% endblock %}
{% block content %}
<div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Password</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for customer in customers_list %}
          <tr>
            <td>{{ customer.get_user_id() }}</td>
            <td>{{ customer.get_first_name() }}</td>
            <td>{{ customer.get_last_name() }}</td>
            <td>{{ customer.get_email() }}</td>
            <td>{{ customer.get_address() }}</td>
            <td>{{ customer.get_password() }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}