{% extends "index.html" %}
{% block title %}Homepage Page{% endblock %}
{% block content %}
<style type="text/css">
  .gallery{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  }
  .content{
  width: 24%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius:10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: .4s;
  }
  .content:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  transform: translate(0px, -8px);
  transition: .6s;
  }
  .content img{
  width: 70%;
  height: 70%;
  text-align: center;
  margin: 0 auto;
  display: block;
  }
  .content p{
  text-align: center;
  color: #b2bec3;
  padding: 0 8px;
  }
  .fa{
  color: #ff9f43;
  font-size: 26px;
  transition: .4s;
  }
  .fa:hover{
  transform: scale(1.3);
  transition: .6s;
  }
  .buy-1{
  background-color: #2183a2;
  }
  .buy-2{
  background-color: #3b3e6e;
  }
  .buy-3{
  background-color: #0b0b0b;
  }
  @media(max-width: 1000px){
  .content{
  width: 46%;
  }
  }
  @media(max-width: 750px){
  .content{
  width: 100%;
  }
  }
h3 {
    font-size: 100%
}
</style>
  <body>
    
<div class="container-fluid">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{url_for('static', filename='images/1877.jpg')}}" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{url_for('static', filename='images/1877.jpg')}}" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{url_for('static', filename='images/1877.jpg')}}" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

	  
<section> 
<div class="gallery" id="frenchtoast">
<div class="content">
<img src="{{url_for('static', filename='images/tengaeggs.png')}}" alt="frenchtoast">
<h3>Tenga Eggs</h3>
</div>
<div class="content">
<img src="{{url_for('static', filename='images/sports.jpg')}}" alt="tapiocadrink">
<h3>Sports</h3>
</div>
<div class="content">
<img src="{{url_for('static', filename='images/phones.jpg')}}" alt="eggudebenedict">
<h3>Phones</h3>
</div>
</div>
	  </section>  
  </body>
{% endblock %}