<!DOCTYPE html>
<html lang="en">
	{% block content %}
	{% from "includes/_formHelper.html" import render_field %}
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/Login.css') }}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Login{% endblock %}</title>
</head>
<body>

  
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Sign in</h1>
			{{ render_field(form.email, class="form-control") }}
			{{ render_field(form.password, class="form-control") }}
			<input type="submit" value="Sign In" class="btn btn-primary"/>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start a journey with us</p>
				<a class="ghost" id="signUp" href="/register"><button>Sign Up</button></a>
			</div>
		</div>
	</div>
</div>
</body>
{% endblock %}
</html>