{% extends "index.html" %}
{% block title %}Past Orders{% endblock %}
{% block content %}
<body>
<div class="container-fluid" style="padding: 0; margin-top: 40px">
		<div class="container pt-3 my-3 bg-white border"> 
{%if transaction_list != []%}
			<div class="accordion" id="accordionExample">
	{%for x in range(transaction_list|length)%}
	<div class="accordion-item">
		<h2 class="accordion-header" id="heading{{x+1}}">
		<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{x+1}}" aria-expanded="true" aria-controls="collapse1{{x+1}}">
			{{x+1}} {{transaction_list[x].get_transaction_date()}} {{transaction_list[x].get_delivered_date()}}
		</button>
		</h2>
		<div id="collapse{{x+1}}" class="accordion-collapse collapse show" aria-labelledby="heading{{x+1}}" data-bs-parent="#accordionExample">
		<div class="accordion-body">
		<table class="table">
			<tr>
				<th scope="row">#</th>
				<th scope="row">Product Name</th>
				<th scope="row">Request for refund</th>
			</tr>
			{%for y in product_dict%}
			<tr>
			<th>{{x+1}}</th>
			<td>{{product_dict[y].get_name()}}</td>
			<td><a href="/processrefund"><img src="https://cdn-icons-png.flaticon.com/512/181/181645.png" alt="refund"></a></td>
			</tr>
			{%endfor%}
			</table>
			</div>
		</div>
	</div>
	{%endfor%}
</div>
{%else%}
	<div class="container text-center">
	<h1 style="font-size: 2.5em;">You have no past orders. Click <a href="/">Here</a> to start shopping</h1>
	</div>
{%endif%}
	</div>
	</div>
  </body>
{%endblock%}