{% extends "seller.html" %}
{% block content %}
		<div class="container center">
	<div class="container pt-3 my-3 bg-white border">
<form style="padding-bottom: 10px;" method="post">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="cateogry">Category</label>
      <select name="category" id="category">
        <option value="electronic">Electronic</option>
        <option value="clothing">Clothing</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-danger">Next</button><br>
</form>
		</div>
		</div>
{% endblock %}
