{% extends "seller.html" %}
{% block title %}Product List{% endblock %}

{% block content %}
{% if product_list==[] %}
<div class="container center"><h1>No products listed</h1></div>
{%else%}
<div class="container center">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Stock</th>>
    </tr>
</thead>
<tbody>
    {% for Products in product_list %}
    {% if Products.get_active()==true %}
    <tr>
      <td>{{ Products.get_name() }}</td>
      <td>{{ Products.get_product_id() }}</td>
      <td>{{ Products.get_product_stock() }}</td>
      <td><form action="{{url_for('update_product', id=Products.get_product_id())}}" method="POST">
        <button type="submit" class="btn btn-danger" >
          Update
        </button>
      </form></td>
      <td>
        <form action="{{url_for('delete_product', id=Products.get_product_id())}}" method="POST">
         
          <!-- Button to Open the Modal -->
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{Products.get_product_id()}}">
            Delete
          </button>
      
          <!-- The Modal -->
          <div class="modal" id="myModal_{{Products.get_product_id()}}">
            <div class="modal-dialog">
              <div class="modal-content">
      
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Delete Confirmation</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
      
                <!-- Modal body -->
                <div class="modal-body">
                  Are you sure you want to delete {{Products.get_name()}}?
                </div>
      
                <!-- Modal footer -->
                <div class="modal-footer">
                  <input type="submit" value="Delete" class="btn btn-danger">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
      
              </div>
            </div>
          </div>      
        </form>
      </td>
    </tr>
    {% endif %}
  {% endfor %}
</tbody>
</table>
</div>
</div>
{%endif%}
{% endblock %}
