{% extends "seller.html" %}
{% block title %}Product List{% endblock %}

{% block content %}
<div class="container center">
<div class="container pt-3 my-3 bg-white border">
	<table class="table">
		<thead>
		<tr>
	<th scope="col"></th>
	<th scope="col">Product Impressions</th>
	<th scope="col"></th>
	</tr>
  </thead>	
		<tbody>
		<tr>
			<td></td>
			<td>{{total_impression}}</td>
			<td></td>
			</tr>
			</tbody>

	</table>
	<h2 class="text-center">Most Popular Listings</h2>
	{% if productlist==[] %}
	<div><h3>No product listed</h3></div>
	{% else %}
<table class="table">
	<thead>
	<tr>
		{% for x in productlist %}
		{% if loop.index<5 %}
	<td>
		<img src="{{url_for('static', filename='images/product_image/'+x.get_product_image())}}" height="100px" width="150px" alt="{{x.get_product_image()}}">
		</td>
		{% endif %}
		{% endfor %}
	</tr>
		</thead>
	<tbody>
		<tr>
			{% for x in productlist %}
		{% if loop.index<5 %}
		{% if x.get_sold()==0 %}
	<td>{{x.get_impression()}} impressions<br> {{x.get_impression()/1}}&#37; Conversion rate</td>
	{% else %}
	<td>{{x.get_impression()}} impressions<br> {{x.get_impression()/x.get_sold()}}&#37; Conversion rate</td>
	{% endif %}
	{% endif %}
		{% endfor %}
			</tr>
		</tbody>
	</table>
	{% endif %}
	</div>
 </div>
{% endblock %}