{% extends "seller.html" %}
{% block title %}Product List{% endblock %}

{% block content %}
<style>
body {
  overflow: scroll;
  min-height: 120vh;
}
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
main {
	margin-left: 16%;
}
</style>
<div class="container center" style="margin-top: 30px; margin-bottom: 100px;">
<div class="container pt-3 my-3 bg-white border">
	<table class="table">
		<thead>
		<tr>
	<th scope="col">Profile Impressions</th>
	<th scope="col">Product Impressions</th>
	<th scope="col">Profile Interations</th>
	</tr>
  </thead>	
		<tbody>
		<tr>
			<td>123</td>
			<td>{{total_impression}}</td>
			<td>123</td>
			</tr>
			</tbody>

	</table>
	<h2 class="text-center">Most Popular Listings</h2>
	{% if productlist==[] %}
	<div><h3>No product listed</h3></div>
	{% else %}
<table class="table">
	<thead>
	<tr>
		{% for x in productlist %}
		{% if loop.index<5 %}
	<td><img src="{{url_for('static', filename='images/product_image/'+x.get_product_image())}}" height="100px" width="150px" alt="{{x.get_product_image()}}"></td>
		{% endif %}
		{% endfor %}
	</tr>
		</thead>
	<tbody>
		<tr>
			{% for x in productlist %}
		{% if loop.index<5 %}
		{% if x.get_sold()==0 %}
	<td>{{x.get_impression()}} impressions<br> {{x.get_impression()/1}}&#37; Conversion rate</td>
	{% else %}
	<td>{{x.get_impression()}} impressions<br> {{x.get_impression()/x.get_sold()}}&#37; Conversion rate</td>
	{% endif %}
	{% endif %}
		{% endfor %}
			</tr>
		</tbody>
	</table>
	{% endif %}
	</div>
 </div>
{% endblock %}