{% extends "staff.html" %}
{% block title %}Account Details Page{% endblock %}
{% block content %}
<style>
  img {
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height: 330px;
  }
</style>
<body>
<div class="container center pt-3 my-3 bg-white border">
<table class="table table-borderless">
<tbody>
    <tr>
      <th scope="col" style="border-top: none;">Name:</th>
      <td style="border-top: none;">{{ application.get_name() }}</td>
    </tr>
    <tr>
      <th scope="row" style="border-top: none;">Email:</th>
      <td style="border-top: none;">{{ application.get_email() }}</td>
    </tr>
	<tr>
      <th scope="row" style="border-top: none;">Address:</th>
      <td style="border-top: none;">{{ application.get_address() }}</td>
    </tr>
    <tr>
      <th scope="row" style="border-top: none;">Place:</th>
      <td style="border-top: none;">{{ application.get_address2() }}</td>
    </tr>
	<tr>
      <th scope="row" style="border-top: none;">City:</th>
      <td style="border-top: none;">{{ application.get_city() }}</td>
    </tr>
	<tr>
      <th scope="row" style="border-top: none;">Postal code:</th>
      <td style="border-top: none;">{{ application.get_postal() }}</td>
    </tr>
    <tr>
      <th scope="row" style="border-top: none;">Image of certification:</th>
      <td style="border-top: none;"><img src="{{url_for('static', filename='images/cert/'+application.get_image())}}" alt="{{application.get_image()}}"></td>
    </tr>
  </tbody>
</table>
<!-- try add these inside -->
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#" style="background-color: #EB5E55; margin-bottom: 1em;">
  <a href="/approve/{{ application.get_apply_id() }}">Approve</a>
</button>
<!-- delete button -->
<form action="{{url_for('reject_seller', id=application.get_apply_id())}}" method="POST">
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="myModal_{{application.get_apply_id()}}" style="background-color: #D81E5B; margin-bottom: 1em;">
  <a href="/reject/{{ application.get_apply_id() }}">Reject</a>
</button>     
</form>
</body>
{% endblock %}