{% extends "staff.html" %}
{% block title %}Staff List{% endblock %}

{% block content %}
<div class="container center">
  <table class="table table-striped bg-white">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Email</th>
        <th>Date joined</th>
        <th>Address</th>
        <th>City</th>
        <th>Postal</th>
    </tr>
</thead>
<tbody>
    {% for staff in users_list %}
    <tr>
      <td>{{ staff.get_name() }}</td>
      <td>{{ staff.get_email() }}</td>
      <td>{{ staff.get_date_joined() }}</td>
      <td>{{ staff.get_address() }}</td>
      <td>{{ staff.get_city() }}</td>
      <td>{{ staff.get_postal_code() }}</td>
      <td>
        <form action="{{url_for('ban_user', id=staff.get_seller_id())}}" method="POST">
         
          <!-- Button to Open the Modal -->
          <button type="button" class="btn" data-toggle="modal" data-target="#myModal_{{staff.get_seller_id()}}" style="background-color: #D81E5B; margin-bottom: 1em;">
           Ban
          </button>
      
          <!-- The Modal -->
          <div class="modal" id="myModal_{{staff.get_seller_id()}}">
            <div class="modal-dialog">
              <div class="modal-content">
      
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Ban Confirmation</h4>
                  <button type="button" class="btn-close" data-dismiss="modal"></button>
                </div>
      
                <!-- Modal body -->
                <div class="modal-body">
                  Are you sure you want to ban {{staff.get_name()}}?
                </div>
      
                <!-- Modal footer -->
                <div class="modal-footer">
                  <input type="submit" value="Delete" class="btn btn-danger">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
      
              </div>
            </div>
          </div>      
        </form>
      </td>
    </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endblock %}