{% extends "staff.html" %}
{% block title %}Staff List{% endblock %}

{% block content %}
<div class="container center">
  <table class="table table-striped bg-white">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Staff Role</th>
        <th>Phone Number</th>
    </tr>
</thead>
<tbody>
    {% for user in users_list %}
    <tr>
      <td>{{ user.get_name() }}</td>
      <td>{{ user.get_last_name() }}</td>
      <td>{{ user.get_email() }}</td>
      <td>{{ user.get_staff_role() }}</td>
      <td>{{ user.get_phone_number() }}</td>
      <td><a href="/updatestaff/{{user.get_staff_id()}}" class="btn btn-warning">Update</a></td>
      <td>
        <form action="{{url_for('delete_staff', id=user.get_staff_id())}}" method="POST">
         
          <!-- Button to Open the Modal -->
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{user.get_staff_id()}}">
            Delete
          </button>
      
          <!-- The Modal -->
          <div class="modal" id="myModal_{{user.get_staff_id()}}">
            <div class="modal-dialog">
              <div class="modal-content">
      
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Delete Confirmation</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
      
                <!-- Modal body -->
                <div class="modal-body">
                  Are you sure you want to delete {{user.get_name()}} {{user.get_last_name()}}?
                </div>
      
                <!-- Modal footer -->
                <div class="modal-footer">
                  <input type="submit" value="Delete" class="btn btn-danger">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
      
              </div>
            </div>
          </div>      
        </form>
      </td>
    </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endblock %}