{% extends "staff.html" %}
{% block title %}Staff List{% endblock %}

{% block content %}
<div class="container-fluid" style="padding: 0; margin-top: 40px">
		<div class="container pt-3 my-3 bg-white border">
			<h1>Staff members:</h1>
  <table class="table table-striped bg-white">
	  
    <thead>
      <tr>
		<th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Date joined</th>
        <th scope="col">Address</th>
        <th scope="col">Postal</th>
		<th scope="col">Ban</th>
    </tr>
</thead>
<tbody>
    {% for x in range(users_list|length)%}
		{%if users_list[x] != 0%}	
			<tr>
			<th>{{users_list[x].get_user_id()}}</th>
			  <td>{{ users_list[x].get_name() }}</td>
			  <td>{{ users_list[x].get_last_name() }}</td>
			  <td>{{ users_list[x].get_email() }}</td>
			  <td>{{ users_list[x].get_date_joined() }}</td>
			  <td>{{ users_list[x].get_address() }}</td>
			  <td>{{ users_list[x].get_postal() }}</td>
			  <td>
				<form action="{{url_for('ban_user', id=users_list[x].get_user_id())}}" method="POST">

				  <!-- Button to Open the Modal -->
				  <button type="button" class="btn" data-toggle="modal" data-target="#myModal_{{users_list[x].get_user_id()}}" style="background-color: #D81E5B; margin-bottom: 1em;">
				   Ban
				  </button>

				  <!-- The Modal -->
				  <div class="modal" id="myModal_{{users_list[x].get_user_id()}}">
					<div class="modal-dialog">
					  <div class="modal-content">

						<!-- Modal Header -->
						<div class="modal-header">
						  <h4 class="modal-title">Ban Confirmation</h4>
						  <button type="button" class="btn-close" data-dismiss="modal"></button>
						</div>

						<!-- Modal body -->
						<div class="modal-body">
						  Are you sure you want to ban {{users_list[x].get_name()}} {{users_list[x].get_last_name()}}?
						</div>

						<!-- Modal footer -->
						<div class="modal-footer">
						  <input type="submit" value="Delete" class="btn btn-danger">
						  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						</div>

					  </div>
					</div>
				  </div>      
				</form>
			  </td>
			</tr>
		{%else%}
		<tr>
		<th>#</th>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		{%endif%}
  {% endfor %}
</tbody>
</table>
</div>
</div>
{% endblock %}