{% extends "index.html" %}
{% block title %}Search{% endblock %}
{% block content %}
<style type="text/css">
.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0;
    justify-content: space-evenly;
    align-items: stretch;
    overflow: auto;
    max-height: 100vh;
}
  .content{
  width: 24%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius:10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: .4s;
  }
  .content:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  transform: translate(0px, -8px);
  transition: .6s;
  }
  .content img{
  width: 70%;
  height: 70%;
  text-align: center;
  margin: 0 auto;
  display: block;
  }
  .content p{
  text-align: center;
  color: #b2bec3;
  padding: 0 8px;
  }
  .fa{
  color: #ff9f43;
  font-size: 26px;
  transition: .4s;
  }
  .fa:hover{
  transform: scale(1.3);
  transition: .6s;
  }
  .buy-1{
  background-color: #2183a2;
  }
  .buy-2{
  background-color: #3b3e6e;
  }
  .buy-3{
  background-color: #0b0b0b;
  }
  @media(max-width: 1000px){
  .content{
  width: 46%;
  }
  }
  @media(max-width: 750px){
  .content{
  width: 100%;
  }
  }
h3 {
    font-size: 100%
}

</style>
<body>
<div class="container-fluid center">
<section class="container-fluid">
<div class="gallery">
{%if product_list != []%}
	{% for x in range(product_list|length) %}
			<div class="content bg-white">
        <a href="/productdetail/{{ product_list[x].get_product_id() }}">
			<img src="{{url_for('static', filename='images/product_image/'+product_list[x].get_product_image())}}" alt="product_list[x].get_name()">
			<h2 style="font-size: 2rem;">{{product_list[x].get_name()}}</h2>
      </a>
			</div>
	{%endfor%}
{%else%}
	<div class="container text-center">
	<h1 style="font-size: 2.5em;">no items match your search</h1><img height="50" width="50" style="margin: 1em;" src="https://cdn-icons-png.flaticon.com/512/42/42901.png" alt="sadface">
	</div>
{%endif%}
</div>
	  </section>
	</div>
  </body>
{%endblock%}