{% extends "staff.html" %}
{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<body>
	<!--sidebar end-->
  {% if applications_list==[] %}
    <div class="container center"><h1>No applications/h1></div>
  {% else %}
		<div class="container center">
		<div class="container pt-3 my-3 bg-white border">
		<form style="padding-bottom: 10px;" method="post" enctype="multipart/form-data">
  		{% for x in applications_list %}
	  		<div class="form-row justify-content-center">
		  <button class="col-md-8 form-control redcolor"><a href="/retrieveapply/{{ x.get_apply_id() }}">{{ x.get_email() }}, {{ x.get_name() }}</a></button>
    		</div>
    	{% endfor %}
		</div>
		</div>
  {% endif %}
	<!--container for sidebar plus content-->
</body>
{% endblock %}